* {
	padding: 0;
	margin: 0;
}
html,
body {
	height: 100%;
    font-family: 'Roboto', sans-serif;
    line-height: 1.5;
}

#app {
	height: auto;
	display: flex;
	flex-direction: column;
	box-sizing: border-box;
	max-width: 600px;
	margin: 0 auto;
	padding: 0 10px;
	width: 100%;
}

.scrollbox {
	width: 100%;
	height: 500px;
	display: inline-block;
	background-color: #ddd;
	margin: 10px 0;
}

.scrollbox::before {
	content: "SCROLL AREA";
	font-style: italic;
	font-size: 12px;
	color: #333;
}
.area {
	overflow: hidden;
	display: flex;
	position: relative;
	box-sizing: border-box;
	border: 2px dashed rgba(0, 0, 0, 0.4);
    flex-direction: column;
}
.log {
    /* font-style: italic; */
    font-family: serif;
}
.log p{

}

.log span{
    font-weight: 700;
	display: inline-block;
}

.area h2 {
	font-weight: 300;
	font-size: 16px;
	display: inline-block;
	position: absolute;
	top: 0;
	right: 0;
    opacity: 0.7;
}
.move {
	display: inline-block;
	border: 2px solid rgba(0, 0, 0, 0.5);
	background-color: rgba(255, 255, 255, 0.7);
	width: 20px;
	height: 20px;
	will-change: transform;
	box-sizing: border-box;
	position: relative;
}

.area-1 {
	background-color: #ffeec2;
}
.area-2 {
	background-color: rgb(200, 230, 255);
}
.area-3 {
	background-color: rgb(200, 255, 203);
}
.area-4 {
	background-color: rgb(221, 200, 255);
}
.area-5 {
	background-color: rgb(255, 200, 250);
}
.area-6 {
	background-color: rgb(255, 200, 205);
}
.area-7 {
	background-color: rgb(255, 252, 200);
}
